:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  }
  
  mat-card {
    width: 80%; /* O el ancho que prefieras */
    max-width: 800px; /* Ancho máximo */
    min-width: 300px; /* Ancho mínimo */
    height: 70vh; /* Alto preferido */
    max-height: 600px; /* Alto máximo */
    min-height: 400px; /* Alto mínimo */
    margin: auto; /* Esto centra el mat-card horizontalmente */
  }
  