<!-- app.component.html -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <mat-card class="welcome-card">
          <mat-card-header>
            <mat-card-title>Bienvenidos a la Lotería</mat-card-title>
          </mat-card-header>
          <img src="assets/your-image.jpg" alt="Bienvenidos" class="welcome-image">
          <mat-card-content>
            <p>Seleccione una opción:</p>
          </mat-card-content>
          <mat-card-actions>
            <button routerLink="/buscar" mat-raised-button color="primary">Buscar Servidor</button>
            <button routerLink="/crear" mat-raised-button color="accent">Crear Servidor</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  