<!-- Editado por carlos 24/06/2024
    Se ha agregado funcionalidad al boton conectar para que si el usuario no ingreso su nombre no se habilite 
    se agrego un boton de regresar/ crear sala para que si no hay salas disponibles cree una 
    
  -->
<div class="fondochat">
<div class="container">
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-header">
        Lotería
      </div>
      <div class="card-body">
        <input id="name" type="text" placeholder="Nombre" class="form-control mb-3 text-center"
          [(ngModel)]="messageList">

        <div *ngIf="roomList.length > 0" class="mb-3">
          <h5>Salas Disponibles:</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let room of roomList">
              <ng-container *ngIf="room.id === roomData.id; else showId">
                Tu sala
              </ng-container>
              <ng-template #showId>
                {{ room.id }}
              </ng-template>
              <button class="btn btn-primary btn-sm ml-2" [disabled]="messageList.length === 0" (click)="conectarJugador(room.id)">Conectar</button> <!-- MIENTRAS EL USUARIO NO INGRESE SU NOMBRE, EL BOTÓN DE CONECTAR 
              ESTARÁ DESHABILITADO -->
            </li>
          </ul>
        </div>

        <div *ngIf="roomList.length === 0" class="mb-3">
          <button class="btn btn-success btn-sm" (click)="crearSala()">Crear Sala</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>