/*Editado por carlos 24/06/2024
    se agregaron los metodos para el diseño del componente 
    
  */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/assets/img/fondo4.jpg");
  }
/*
Este metodo se utilizara para poner un  fondo en la pantalla 
*/
.card-body{
  background-color: rgba(161, 108, 108, 0.8);/*Este metodo es para el cuerpo del card */
}
.card-header{
  background-color: rgba(161, 108, 108, 0.8);/*este metodo es para la cabezera del card*/
}