<div class="centered-card">
  <mat-card class="larger-card">
    <mat-card-title>Buscar Servidor</mat-card-title>
    <mat-card-content>
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre">
        </mat-form-field>
      </div>
      <table mat-table class="mat-elevation-z8" [dataSource]="servers">
        <!-- Nombre del Servidor Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre del Servidor </th>
          <td mat-cell *matCellDef="let server"> {{ server.name }} </td>
        </ng-container>
        <!-- Acciones Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let server">
            <button routerLink="/tablero" mat-raised-button color="primary">
              Conectar
              <mat-icon>send</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['name', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'actions'];"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
