.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .larger-card {
    width: 700px; /* Ajusta el ancho según sea necesario */
    height: 500px; /* Ajusta la altura según sea necesario */
  }
  