<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <mat-card class="welcome-card">
        <mat-card-header>
          <mat-card-title>Bienvenidos a la Lotería</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Seleccione una opción:</p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/buscar-servidor"><button mat-raised-button color="primary">Buscar Servidor</button></a>
          <a routerLink="/crear-servidor"><button mat-raised-button color="accent">Crear Servidor</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
