<div class="container">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card class="welcome-card">
      <mat-card-header>
        <mat-card-title>Bienvenidos a la Lotería</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Seleccione una opción:</p>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutGap="8px">
        <button mat-raised-button color="primary" (click)="listServers()">Buscar Servidor</button>
        <button mat-raised-button color="accent" (click)="createServer()">Crear Servidor</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
