.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.current-card {
  width: 150px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-right: 20px;
}

.carton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px; /* Espacio entre las tarjetas */
  flex-grow: 1;
}

.card-item {
  width: 100%; /* Asegura que las tarjetas ocupen el 100% del ancho disponible */
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  align-items: flex-end; /* Alinea el contenido a la derecha */
}

.global-card {
  margin: 20px auto; /* Margen automático en la parte superior e inferior, y centrado horizontalmente */
  max-width: 1200px; /* Ancho máximo */
  height: 900px; 
}

.mat-card {
  width: 100%;
}
.card-image {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Evita el espacio en línea inferior de las imágenes */
  object-fit: cover;
}
