.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.current-card {
  width: 150px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-right: 20px;
}

.carton {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Espacio entre las tarjetas */
  flex-grow: 1;
}

.card-item {
  width: 150px;
  height: 200px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  align-items: flex-end; /* Alinea el contenido a la derecha */
}

.global-card {
  margin: 20px auto; /* Margen automático en la parte superior e inferior, y centrado horizontalmente */
  max-width: 1200px; /* Ancho máximo */
  height: 900px; 
}

.mat-card {
  width: 100%;
}
.card-image {
  width: 100px;
  height: 160px;
  object-fit: cover;
}

.card-current-image {
  width: 150px;
  height: 250px;
  object-fit: cover;
}

.send_message{
  background-color: aquamarine;
  text-align: center;
  width: 500px;
}