.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.current-card {
  text-align: center;
  width: 250px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-right: 20px;
}

.carton {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  gap: 25px; /* Espacio entre las tarjetas */
  flex-grow: 1;
}

.card-item {
  width: 120px;
  height: 180px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  align-items: flex-end; /* Alinea el contenido a la derecha */
}

.global-card {
  margin: 20px auto; /* Margen automático en la parte superior e inferior, y centrado horizontalmente */
  max-width: 1200px; /* Ancho máximo */
  height: 900px;
}

.mat-card {
  width: 100%;
}
.card-image {
  width: 100px;
  height: 160px;

  object-fit: cover;
}

.card-current-image {
  width: 230px;
  height: 370px;
  object-fit: cover;
}

.send_message{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d65757;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}
.send_message:not([disabled]) {
  background-color: #04AA6D;

}

